$font-family-base: 'Mulish', sans-serif !important;
$bg-color-dark: #363740;
$bg-color-light: #f7f8fc;
$text-color-dark: #252733;
$text-color-gray: #9fa2b4;
$border-color-gray: #dfe0eb;
$action-color-blue: #3751ff;
$nav-text-color-gary: #a4a6b3;

//mobile-first design
//body styles
body {
    font-family: $font-family-base;
    background-color: $bg-color-light;
    color: $text-color-dark;
}

//main content styles
.main-content {
    background-color: $bg-color-light;
    padding: 1rem;
}

//sidebar styles
.sidebar {
    background-color: $bg-color-dark;

    .sidebar-header {
        font-size: 18px;
        color: $nav-text-color-gary;
        font-weight: 700;
    }

    .nav-link {
        color: $nav-text-color-gary;
        &:hover {
            color: #dde2ff;
        }
    }
}

//card styles
.card {
    margin: 0 0.5rem;

    h5 {
        font-weight: 600;
        color: $text-color-dark;
    }

    &-hover {
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            color: $action-color-blue;
            border: 1px solid $action-color-blue !important;

            h5, h2 {
                color: $action-color-blue;
            }
        }
    }
}

//right card styles
.right_card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    p {
        font-size: 24px;
        font-weight: 700;
        color: $text-color-dark;
    }

    h6 {
        font-size: 16px;
        font-weight: 600;
        color: $text-color-gray;
    }
}

//top card styles
.top-card {
    p {
        font-size: 2rem;
        font-weight: 700;
        color: $text-color-dark;
    }

    h5{
        color: $text-color-gray;
        font-size: 17px;
    }
}

//icon styles
.icon-large {
    font-size: 1.2rem;
    margin: 0 1rem;
}

//sub_title styles
.bold h6{
    font-weight: bold;
}
  
//chart legend
.legend-today,
.legend-yesterday {
  font-size: 12px; 
  position: relative; 
  padding-left: 30px; 
}

.legend-today {
  color: $action-color-blue;
}

.legend-yesterday {
  color: $text-color-gray;
}

.legend-today::before,
.legend-yesterday::before {
  content: ''; 
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px; 
  height: 3px; 
  background-color: currentColor; 
  border-radius: 3px; 
  transform: translateY(-50%); 
}

//gray color text styling
.unresolved span {
    color: $text-color-gray;
}
.gray {
    color: $text-color-gray;
}


// vertical divider style
.vertical-divider {
    border-left: 1px solid $border-color-gray;
    height: 24px;
    margin: 0 0.5rem;
}

// horizontal divider style
.divider {
    display: block;
    border-bottom: 1px solid $border-color-gray;
    margin: 8px 0;
    width: 100%;   
}

// equal height style
.equal-height {
    min-height: 300px;
}

// desktop styling
@media (min-width: 768px) {
    .main-content {
        margin-left: 200px;
    }

    .sidebar {
        position: fixed;
        height: 100vh;
        width: 200px;
    }

    .navbar-toggler {
        display: none;
    }
}
